.forgot-page {
 background-color: rgba(111, 109, 109, 0.723);
  min-height: 100vh;        
  display: flex;
  justify-content: center;
  align-items: center;
               
}
.forgot-password-container {
  max-width: 400px;
  margin: 100px auto;
  padding: 30px;
  background-color: rgba(143, 140, 140, 0.543);
  border-radius: 12px;
  box-shadow: 0 6px 6px 6px rgb(99,96,96);
  text-align: center;
  font-family: sans-serif;
}

.forgot-password-form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.forgot-input {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 16px;
  background-color: white;
}

.reset-btn {

 background-color: #3b2f2f;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}
.link{
    color:black;
    text-decoration: none;
}
